#Web Framework
Flask
Flask-SocketIO
python-socketio
eventlet

#Packet Capture & Analysis (Use pcapy-ng for easier installation)
pcapy-ng
dpkt
requests

#Database
SQLAlchemy

#System Utilities
psutil

# --- ML MODULE LIBRARIES (PUDHUSA ADD PANROM) ---
pandas
scikit-learn
joblib