#Web Framework
Flask
Flask-SocketIO
python-socketio
eventlet

#Packet Capture & Analysis (Use pcapy-ng for easier installation)
pcapy-ng
dpkt
requests

#Database
SQLAlchemy

#System Utilities
psutil

# --- ML MODULE LIBRARIES (PUDHUSA ADD PANROM) ---
pandas
scikit-learn
joblib
numpy==1.24.3

# dockerization
bcrypt==4.0.1
authlib==1.2.1
Werkzeug==2.3.7
Flask-Login==0.6.3 